body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    background-color: #52B5E9;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 100vh;
}

.titulo{
    font-size: 2em;
    padding: 1% 0%;
}

.totalusuarios{
    padding-bottom: 3%;
}


.configuracaoItem{
    font-weight: 200;
    border: 4px solid white;
    border-radius: 5px;
    font-size: 15px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 3px;
}

.frase{
    font-style: italic;
    text-align: justify;
    text-indent: 20px;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 5px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.sliderCheck {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.sliderCheck:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .sliderCheck {
    background-color: #04d66d;
}
  
input:focus + .sliderCheck {
    box-shadow: 0 0 1px #04d66d;
}

  
input:checked + .sliderCheck:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.sliderCheck.round {
    border-radius: 34px;
}
  
.sliderCheck.round:before {
    border-radius: 50%;
}